/******** parent-element ********/
#baseLayerControl {
	/*** Layout ***/
	position: absolute;
	top: 45px;
	right: 25px;
	z-index: 1000;
	/*** Content ***/
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	font-family: "UniversNextW01-Regular",sans-serif;
	/*** für den IE ab 9.x, damit das Mouseover-Event funktioniert ***/	
	background-color: rgba(255, 255, 255, 0);
	/*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#ffffff'); /* IE */
}

/******** first child-element ********/
#activeLayer {
	/*** Layout ***/
	min-width: 100px;
	float: right;
	margin: 4px;
	/*** Content ***/
	/*text-transform: uppercase;*/
	box-shadow: 2px 2px 2px #666666;
	background: rgb(255, 255, 255);
	color: rgb(96, 96, 96);	
}	
	#activeLayerName {
		/*** Layout ***/
		padding: 8px;	
		/*** Content ***/
		border-bottom: 1px solid silver;
	}	
	#switchLayerButton {
		/*** Content ***/
		font-size: 10px;
		padding: 0px;
	}

/******** second child-element ********/
#layerSelection {
	/*** Layout ***/
	clear: both;
	float: right;
	display: none;
	/*** Content ***/
	background: rgba(96, 96, 96, 0);
}
	#layerSelection p {
		padding: 3px;
	}
	#layerSelection img {
		/*** Layout ***/
		height: 75px;
		width: 95px;
	}
	.baseLayer {
		/*** Layout ***/
		margin: 4px;
		float: right;
		max-width: 100px;
		/*** Content ***/
		font-size: 11px;
		cursor: pointer;
		border: 1px solid rgb(96, 96, 96); 
		color: rgb(96, 96, 96); 
		background: rgb(255, 255, 255);
	}
	.baseLayer:hover {
		color: rgb(255, 255, 255); 
		background: rgb(96, 96, 96);
	}
